.center{text-align: center;}
.container{width: 1140px;margin-left: auto;margin-right: auto;
           padding-left: 30px;padding-right: 30px; /*border: 1px solid #f44;*/}

.col1{width:8.33%;}.col2{width:16.66%;}.col3{width: 25%;}
.col4{width:33.33%;}.col5{width:41.66%;}.col6{width:50%;}
.col7{width:58.33%;}.col8{width:66.66%;}.col9{width:75%;}
.col10{width:83.11%;}.col11{width:91.66%;}.col12{width:100%;}

.row{margin-left: -15px;margin-right: -15px;overflow: hidden;}

div[class*="col"]{float:left;padding:15px;box-sizing:border-box;}
.nav{
  min-height: 75px;
  background-color: #2c2c2c;
}
.nav li{
  display: inline-block;
}

.logo span{
  color: #fff;
}
.menu li a{
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}
.link{
  padding: 10px;
}
.link:hover{
  border: 1px solid #ffffff;
  padding: 9px;
}

.right{
  float: right;
}
.left{
  float: left;
}
.about-video{
  height: 315px;
}
.about-video iframe{
  width: 100%;
  height: 100%;
  border: none;
}
label{
  display: block;
  margin-top: 15px;

}
.form-form select{
width: 350px;
}
.form-form input{
width: 350px;
margin-top: 15px;
}
.form-form select{
  display: block;
  margin-top: 15px;
}
.lets-fly-btn{
  padding: 15px 30px 15px 30px;
  background-color: #46b0dc;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  float: right;
  margin-top: 10px;
}
.cost-text{
  margin-left: 40px;
  width: 440px;
}
.cost-text-price{
  margin-left: 0;
  float: left;
}
.cost-text p{
  padding-top: 10px;
}
.cost-form{

}
.cost-form form{
  width: 100%;
}
.subtitle{
  font-weight: bold;
  font-size: 26px;
  margin-top: 65px;
}
.question-title{
  font-weight: bold;
}
.statistics{
  text-align: center;
  background-image: url(../img/advantages.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.statistics-item{
  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  padding: 50px;
  margin: 15px;
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
  width: 150px;
  height: 150px;
}
.statistics-item-1{
  padding-left: 40px;
  padding-right: 40px;
}
.statistics-item-2{
  padding-left: 30px;
  padding-right: 30px;
}
.statistics-item-3{
  padding-left: 55px;
  padding-right: 55px;
}
.statistics-item-4{
  padding-left: 50px;
  padding-right: 50px;
}
.statistics-item-text{
  color: #ffffff;
  display: inline-block;
  margin: 15px;
}
.statistics div{
  display: inline-block;
  color: #ffffff;
}
.feedback{
  text-align: center;
}
.feedback-name{
  font-size: 22px;
}
.feedback-text{
  font-size: 18px;
}
.feedback .title{
  margin-bottom: 50px;
}
.contacts{
  text-align: center;
  background-image: url(../img/prefooter.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.team{
  text-align: center;
}
.team-name{
  font-size: 22px;
}
.team-rank{
  font-size: 18px;
}
.team-item{
  margin-top: 50px;
  margin-bottom: 100px;
}
.slider{
  position: relative;
  }
.slick-prev, .slick-next{
  background-color: transparent;
  border: none;
  color: transparent;
  position: absolute;
  top: 50%;
  z-index: 533;
  outline: none;
}

.slick-prev{
  left: -60px;
  top: 50%;
  background-image: url(../img/arrowleft.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 19px;
  height: 32px;
}
.slick-next{
  right: -60px;
  top: 50%;
  background-image: url(../img/arrowleft.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  width: 19px;
  height: 32px;
}

.promo{
  background-image: url(../img/banner.png);
  background-size: 100% 100%;
  text-align: center;
}
.promo .row{
    min-height: 650px;
}
.promo .promotitle{
  color: #ffffff;
  margin-top: 195px;
  margin-bottom: 190px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.moreinfo{
  border: 2px solid #ffffff;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.moreinfo:before{
  background-image: url(../img/arrowdown.png);
  content: '';
  background-repeat: no-repeat;
  height: 28px;
  width: 18px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 100px;
}
.advantsges{

}
.advantages-item{
margin-top: 50px;
margin-bottom: 50px;
position: relative;
width: 15%;
margin-left: 110px;
}

.advantages-item-like:before{
  position: absolute;
  content: '';
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 58px;
  width: 56px;
  left: -60px;
  top: 0;
}

.advantages-item-glasses:before{
  position: absolute;
  content: '';
  background-image: url(../img/glasses.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30px;
  width: 75px;
  left: -70px;
  top: 20px;
}

.advantages-item-photocam:before{
  position: absolute;
  content: '';
  background-image: url(../img/photocam.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50px;
  width: 65px;
  left: -60px;
  top: 10px;
}

.advantages-item-vision:before{
 position: absolute;
  content: '';
  background-image: url(../img/benokl.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 35px;
  width: 72px;
  left: -70px;
  top: 20px;
}
.advantages-item span{
  font-size: 18px;
  font-weight: normal;
}

.about-text{
width: 350px;
margin-left: 50px;
}
.about-video{
  width: 750px;
}
.title{
  color: #444444;
  font-size: 32px;
  position: relative;
}
.title:before{
  content: '';
  position: absolute;
  background-image: url(../img/bluestick.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 47%;
  right: 53%;
  bottom: -15px;
  height: 6px;
  width: 60px;
}
.second-title{
color: #444444;
font-size: 32px;
position: relative;
}
.second-title:before{
  content: '';
  position: absolute;
  background-image: url(../img/bluestick.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 0;
  bottom: -15px;
  height: 6px;
  width: 60px;
}
.gallery{
  text-align: center;
}
.photo-slider{
  width: 1022px;
  margin-bottom: 60px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
}
.cost-text-price{
  font-weight: bold;
}
.cost-num{
  font-size: 38px;
  color: #f97e7e;
}
.cost-num,
.cost-text-price{
  display: inline-block;
  vertical-align: middle;
}
.email{
  text-decoration: underline;
}
.payment-method{
  width: 470px;
  margin-left: 40px;
}
.question-title{
font-size: 18px;
margin-bottom: 15px;
margin-top: 50px;
}
.question-text{
  padding-left: 30px;
  margin-bottom: 60px;
}
.faq{
  width: 520px;
  margin-left: 60px;
}
.timer-title,
.measure,
.days,
.hours,
.minutes,
.seconds{
  float: left;
  color: #26668e;
  font-weight: bold;
  font-size: 32px;

}

.measure:before,
.days:before,
.hours:before,
.minutes:before,
.seconds:before{
  content:"\00a0\00a0";
}
.countdown{
  background-color: #f2f2f2;
}
.count{
  float: left;
}
.measure-days,
.measure-hours,
.measure-minutes,
.measure-seconds{
  font-size: 22px;
}
.process{
  background-image: url(../img/process-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}.process .row{
  min-height: 540px;
  text-align: center;
  position: relative;
}
.ballon{
  position: absolute;
  margin-top: 60px;
}
.ballon-1{
left: 60px;
top: 340px;
}
.ballon-2{
left: 288px;
top: 160px;
}
.ballon-3{
left: 50%;
top: 50px;

}
.ballon-4{
right: 288px;
top: 160px;
}
.ballon-5{
right: 60px;
top: 340px;
}
.ballon-img{
  background-image: url(../img/ballon.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 65px;
  width: 50px;
}